.contentWrapper {
  background-image: url("../images/luzemergencia.jpg"); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajustar el tamaño de la imagen de fondo */
  background-position: center; /* Centrar la imagen de fondo */
  background-repeat: no-repeat; /* No repetir la imagen de fondo */
  padding-top: 50px;
  min-height: 100vh; /* Asegurarse de que el fondo cubra toda la vista */
}

.customContainer {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Fondo blanco semi-transparente */
  padding: 20px;
  border-radius: 10px;
}
.customContainer:hover {
  background-color: rgba(
    162,
    180,
    160,
    0.9
  ); /* Hacer más oscuro al pasar el mouse */
}

.customHeading {
  color: #000000; /* Color azul */
  font-weight: bold;
}

.customSelect {
  width: 100%;
  margin: auto;
}

.customSwitchLabel {
  width: 100%;
  text-align: left;
}
